@model Entidades.Promocao

@{
    ViewBag.Title = "Excluindo promoção: " + Model.NomeStr;
}

<h2>Exluindo promoção: @Model.NomeStr</h2>

<h3>Tem certeza que deseja excluir esta promoção?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parceiro.nomeStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parceiro.nomeStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagemStr)
        </dt>

        <dd>
            <img width="200" height="200" src="~/Content/images/promocoes/@Model.ImagemStr" />
                 @*@html.displayfor(model=> model.ImagemStr)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdUtilizacaoDiaInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdUtilizacaoDiaInt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtivaBool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtivaBool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastroDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastroDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataValidadeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataValidadeDate)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete","Promocao")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
